nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
  width: 300px;
  height: 100%;
  padding: 0 15px;
  margin-left: 30px;

  button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;

    &.primary {
      color: rgb(183, 20, 183);
      cursor: default;
    }
  }
}
